<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

    <table class="table">
        <tr th:fragment="tableHead" th:remove="tag">
            <th scope="col">No</th>
            <th scope="col">Category</th>
            <th scope="col">City Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Video</th>
            <th scope="col">Email</th>
            <th scope="col">PhoneNumber</th>

        </tr>
        <tr th:fragment="tableRow(item)" th:remove="tag">
            <td th:text="${item.id}">No</td>
            <td th:text="${item.category}">Category</td>
            <td th:text="${item.city}">City Name</td>
            <td th:text="${item.startDate}">Campaign Start Date</td>
            <td th:text="${item.endDate}">Campaign End Date</td>
            <td th:text="${item.video}">Video</td>
            <td th:text="${item.email}">Email</td>
            <td th:text="${item.phoneNumber}">Phone Number</td>


        </tr>
    </table>

    <div th:fragment="formRows" th:remove="tag">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="category" class="text-white font-weight-bold">Category</label>
                <input
                        id="category"
                        th:field="*{category}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Category"/>
                <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="city" class="text-white font-weight-bold">City Name</label>
                <input
                        id="city"
                        th:field="*{city}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="City"/>
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="startDate" class="text-white font-weight-bold">Start Date</label>
                <input id="startDate"
                       name="startDate"
                       th:field="*{startDate}"
                       th:errorclass="is-invalid"
                       type="date" class="form-control"
                       placeholder="Start Date"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="endDate" class="text-white font-weight-bold">End Date</label>
                <input id="endDate"
                       name="endDate"
                       th:field="*{endDate}"
                       th:errorclass="is-invalid"
                       type="date" class="form-control"
                       placeholder="End Date"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="video" class="text-white font-weight-bold">Video</label>
                <input id="video"
                       name="video"
                       th:field="*{video}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control"
                       placeholder="Video"/>
                <p th:if="${#fields.hasErrors('video')}" th:errors="*{video}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-white font-weight-bold">Email</label>
                <input id="email"
                       name="email"
                       th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="email" class="form-control"
                       placeholder="Email"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="phoneNumber" class="text-white font-weight-bold">Phone Number</label>
                <input id="phoneNumber"
                       name="phoneNumber"
                       th:field="*{phoneNumber}"
                       th:errorclass="is-invalid"
                       type="text" min=0 max=9999999999999 class="form-control"
                       placeholder="Phone Number"/>
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
        </div>
    </div>
</body>
</html>
