<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <div th:fragment="infoBar(info)">
        <div th:if= "${info != null}" th:text="${info}"></div>
    </div>
    <div th:fragment="addButton(baseUrl)">
        <a th:href="@{${baseUrl} + '/_create'}" class="btn btn-primary">Add</a>
    </div>
    <div th:fragment="editButton(baseUrl, id)">
        <a th:href="@{${baseUrl} + '/' + ${id}}" class="btn btn-primary">Edit</a>
    </div>
    <div th:fragment="deleteButton(baseUrl, id)">
        <form th:action="@{__${baseUrl}__/__${id}__}" th:method="delete" class="d-inline">
            <input class="btn btn-primary" type="submit" value="Delete" />
        </form>
    </div>

    <div th:fragment="footer" class="container">
        <footer></footer>
    </div>
</body>
</html>