<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Clients</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="client : ${allClients}" th:object="${client}"
             class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Client:
                <span th:text="*{name}">Client name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>

                    </tr>
                    <tr th:each="name : ${client.names}" th:object="${name}">
                        <th th:text="*{id}">No</th>
                        <th th:text="*{name}">Name</th>
                        <th th:text="*{email}">Email</th>
                        <th th:text="*{phoneNumber}">Phone Number</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
