<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<br>
<div class="container-fluid">
    <form class="main-form mx-auto col-md-2 d-flex flex-column justify-content-center"/>
    <h5 class="text-center text-white mt-9 font-weight-bold ">Welcome to LedKing

        <span sec:authorize="isAuthenticated()">,</span>
        <span sec:authorize="isAuthenticated()" sec:authentication="name">
<!--            Name of the logged-in user.-->
        </span>
        <!--        <span sec:authorize="!isAuthenticated()">-->
        <!--            Anonymous!-->
        <!--        </span>-->
    </h5>
</div>

<br/>

<!--<div id="content-wrap">-->
<!--    <h1 class="page-title">За връзка с LED - Реклама</h1>-->

<!--        </div>-->


<div class="container-fluid">
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-lg-6 col-lg-3  col-lg-2 m-1 p-0">
            <div class="card-body pb-1 with-new-background text-white">
                <h5 class="card-title"> </h5>
                    <h2 class="text-center mt-5">Контакти</h2>
                <br/>
                    <div class="region region-content">
                        <div id="block-block-2" class="block block-block">
                            <div class="content">
                                <p>

                                    <iframe width="788" height="520" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1206.5739394264704!2d27.71155435808198!3d42.6945543947915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a69fb2c5385fdf%3A0x1edd560900d5d344!2zRmxvd2VyIFN0LCA4MjQwINCh0LvRitC90YfQtdCyINCR0YDRj9CzLCDQndC10YHQtdCx0YrRgA!5e1!3m2!1sbg!2sbg!4v1582278168824!5m2!1sbg!2sbg"></iframe>
                                    <br />
<!--                                    <small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1206.5739394264704!2d27.71155435808198!3d42.6945543947915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a69fb2c5385fdf%3A0x1edd560900d5d344!2zRmxvd2VyIFN0LCA4MjQwINCh0LvRitC90YfQtdCyINCR0YDRj9CzLCDQndC10YHQtdCx0YrRgA!5e1!3m2!1sbg!2sbg!4v1582278168824!5m2!1sbg!2sbg" style="color:#0000FF;-->
<!--                                    text-align:left" target="_blank">Вижте по-голяма карта</a></small>-->

                                </p>
                                <br/>
                                <br/>
<!--                                <p><strong>Контакти</strong></p>-->
                                <p>Комплекс "Кая", алея Кубан<p>
                                к.к. Слънчев Бряг, България<p>
                                0897 93 73 55<p>
                                geo@ledking.bg<p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
<!--                    <br/>-->
<!--                    Комплекс "Кая", алея Кубан-->

<!--                    <br/>-->
<!--                    к.к. Слънчев Бряг, България-->

<!--                    <br/>-->
<!--                    0897 93 73 55-->

<!--                    <br/>-->
<!--                    geo@ledking.bg-->


            </div>

        </div>
    </div>
</div>
</div>


<div>
    <footer> </footer>
</div>

</body>
</html>
