<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container-fluid">
    <form class="main-form mx-auto col-md-2 d-flex flex-column justify-content-center"/>
    <h5 class="text-center text-white mt-9 font-weight-bold ">Welcome to LedKing

        <span sec:authorize="isAuthenticated()">,</span>
        <span sec:authorize="isAuthenticated()" sec:authentication="name">
<!--            Name of the logged-in user.-->
        </span>
        <!--        <span sec:authorize="!isAuthenticated()">-->
        <!--            Anonymous!-->
        <!--        </span>-->
    </h5>
</div>
<div class="container with-background">
    <h2 class="text-center mt-5">Контакти</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
            <div class="card-img-top-wrapper">
            </div>
            <div class="card-body pb-1">
                <h5 class="offers row mx-auto d-flex flex-row justify-content-center"
                >Here will be the info connected to our office, phones, emails, map, etc.< </h5>
            </div>
        </div>
    </div>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
