<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container-fluid">
    <form class="main-form mx-auto col-md-2 d-flex flex-column justify-content-center"/>
    <h5 class="text-center text-white mt-9 font-weight-bold">Welcome to LedKing

        <span sec:authorize="isAuthenticated()">,</span>
        <span sec:authorize="isAuthenticated()" sec:authentication="name">
<!--            Name of the logged-in user.-->
        </span>
        <!--        <span sec:authorize="!isAuthenticated()">-->
        <!--            Anonymous!-->
        <!--        </span>-->

    </h5>
<!--<div class="offers row mx-auto d-flex flex-row justify-content-center">-->
<!--    <h5 class="text-center text-white mt-9 font-weight-bold">История</h5>-->
<!--    <h5 class="text-center text-white mt-9 font-weight-bold">-->
<!--        Here will be the history of LED-reklama.com so far.</h5>-->
<!--</div>-->
</div>
<br/>

    <div class="container-fluid">

        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div class="offer card col-lg-6 col-lg-3  col-lg-2 m-1 p-0">

                <div class="card-body pb-1">
                    <h5 class="card-title" text>
                        <h2 class="text-center mt-5">История</h2>

                        Фирмата ни е създадена през 2005г. в град Варна.

                        От есента на 2011г. започнахме да работим в сферата на дигиталната външна реклама.

                        През лятото на 2012г. монтирахме първите си два LED дисплея (електронни видео бордове с размери 2.75м*1.60м) за външна реклама в центъра на Слънчев бряг (алея Кубан).

                        През следващата година вече разполагахме с четири LED дисплея в центъра на Слънчев бряг (алея Кубан и крайбрежна алея – нови екрани с размери 4м.* 3м.), а от есента на 2013г. предлагаме още две съоръжения в центъра на Варна. (Бул. Осми Приморски Полк №76 – с размери 3м.* 2м.)

                        През лятото на 2015г. оптимизирахме и разнообразихме още повече предлаганите от фирмата съоръжения. Подобрихме видимостта на единия от екраните (4м.* 3м.) срещу хотел Кубан в центъра на Слънчев бряг, а другият (4м.* 3м) от крайбрежната алея на комплекса преместихме на светофара срещу борса „Жанет“ в Несебър, на международния път между Бургас и Варна. Видимостта там е отлична и пътниците от автомобилите, които пътуват към Бургас и Варна обикновено прекарват около 60 сек. на червен светофар, виждайки рекламите, които излъчваме.

                        От месец май 2019г. можете да използвате и най-новото ни съоръжение - LED екран с размери 6.60м*4.00м, който изградихме на светофара срещу борса „Жанет“ в Несебър, на международния път между Бургас и Варна. Борда е изграден на мястото на стария ни борд от 2015г, желанието ни е да дадем на клиентите си възможност да излъчват рекламите си на по-ново и много по-голямо съоръжение, за да могат пътуващите в региона още по-добре да виждат рекламните послания.

                        От лятото на 2019г. разширихме броя на локациите си в центъра на К.К. Слънчев бряг. Вече предлагаме на алеята между хотел Кубан и плажа (Flower street) три екрана с размери 4м.*3м. (двустранен LED екран в градинката пред хотел Кубан, и екран върху ресторант Амора). Предлагаме и още два екрана, които се намират на същата алея Кубан, на най-близката сграда до кея и плажа с размери 2.75м*1.60м.

                        От месец Декември 2019г. вече можете да използвате най-новото ни рекламно съоръжение в гр. Банско. Намира се на светофара на ул. "Глазне", срещу Гранд Хотел Банско и работи целогодишно. Размера му е 5.50м. * 3.20м.

                        Всички рекламни видео екрани които предлагаме, са с голяма разделителна способност и ярки цветове, те постигат чудесен образ през деня и през нощта.

                        Видео билбордовете могат да възпроизвеждат всякакъв вид изображения като видео, презентации, снимки, анимации, текст, графики, таблици и разбира се телевизионни предавания на живо.

                        Компанията предлага постоянна поддръжка на предлаганите съоръжения, професионално пълно рекламно обслужване, както и адаптация на Ваш вече съществуващ рекламен клип.

                        Предлагаме и възможност да закупите Ваш LED екран, който да монтираме, обслужваме и управляваме, за да показвате най-новото и най-доброто от Вашия бизнес!

                        Очакваме да се свържете с нас!

                        С уважение,

                        екипа на LED реклама


                    </h5>
                </div>

            </div>
        </div>
    </div>

<div>
    <footer> </footer>
</div>

</body>
</html>
