<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="container-fluid">
    <form class="main-form mx-auto col-md-2 d-flex flex-column justify-content-center"/>
    <h5 class="text-center text-white mt-9 font-weight-bold ">Welcome to LedKing

        <span sec:authorize="isAuthenticated()">,</span>
        <span sec:authorize="isAuthenticated()" sec:authentication="name">
<!--            Name of the logged-in user.-->
        </span>
<!--        <span sec:authorize="!isAuthenticated()">-->
<!--            Anonymous!-->
<!--        </span>-->
    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
