<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container-fluid">
    <form class="main-form mx-auto col-md-2 d-flex flex-column justify-content-center"/>
    <h5 class="text-center text-white mt-9 font-weight-bold ">Welcome to LED King

        <span sec:authorize="isAuthenticated()">,</span>
        <span sec:authorize="isAuthenticated()" sec:authentication="name">
<!--            Name of the logged-in user.-->
        </span>
<!--        <span sec:authorize="!isAuthenticated()">-->
<!--            Anonymous!-->
<!--        </span>-->
    </h5>
</div>
<th:block sec:authorize="!isAuthenticated()">
<body>
<div>
    <video autoplay="" controls="" style="border-left-style: solid;margin-left: 25%;margin-top: 2%;" width="860" height="480">
        <source id="vidsrc" src="https://res.cloudinary.com/dyltmujve/video/upload/v1639226133/02_Geo_vr5cxs.mp4" type="video/mp4">
    </video>

</div>

</body>
</th:block>
<th:block sec:authorize="!isAuthenticated()">
        <div class="row">
            <div class="col-1 col-md-1" style="padding-left: 15px;padding-right: 15px;border-top-width: 0px;border-top-style: solid;margin-top: -28%;" >
                <div class="button-holder d-flex">
                    <form th:action="@{/advertise}" th:method="post" style="margin-top: 1%;"><input type="hidden" name="_csrf" value="68bc0940-7ea0-4e74-9c65-0eae16ab840e">
<!--                        <input type="submit" class="btn btn-info btn-lg" value="Реклама">-->
                    </form>
                    <form th:action="@{/advertise}" th:method="post" style="margin-top: -2%;"><input type="hidden" name="_csrf" value="68bc0940-7ea0-4e74-9c65-0eae16ab840e">
                        <input type="submit" class="btn btn-info btn-lg" value="Реклама">
                    </form>
                </div>
                <br>
                <br>
                <div class="button-holder d-flex">
                    <form th:action="@{/buy}" th:method="post" style="margin-top: 40%;"><input type="hidden" name="_csrf" value="68bc0940-7ea0-4e74-9c65-0eae16ab840e">
                        <input type="submit" class="btn btn-info btn-lg" value="Покупка">
                    </form>
                </div>
                <br>
                <div class="button-holder d-flex">
                    <form th:action="@{/rent}" th:method="post" style="margin-top: 55%;"><input type="hidden" name="_csrf" value="68bc0940-7ea0-4e74-9c65-0eae16ab840e">
                        <input type="submit" class="btn btn-info btn-lg" value="Наем">
                    </form>
                </div>
                <br>
                <div class="button-holder d-flex">
                    <form th:action="@{/support}" th:method="post" style="margin-top: 70%;"><input type="hidden" name="_csrf" value="68bc0940-7ea0-4e74-9c65-0eae16ab840e">
                        <input type="submit" class="btn btn-info btn-lg" value="Поддръжка">
                    </form>
                </div>
            </div>
        </div>
</th:block>

<div>
    <footer> </footer>
</div>

</body>
</html>
