<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white m-3">All Orders</h2>
  <div class='row mb-4 d-flex justify-content-around'>
    <div th:each="order : ${allOrders}" th:object="${order}"
         class="brand-section col-md-5 mr-auto d-flex flex-column">
      <h2>Order campaign name:
        <span th:text="*{name}">Campaign</span>
      </h2>
      <div>Campaigns:
        <table>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>VideoLengthInSeconds</th>

          </tr>
          <tr th:each="name : ${order.name}" th:object="${name}">
            <th th:text="*{id}">No</th>
            <th th:text="*{orderName}">Name</th>
            <th th:text="*{startDate}">Campaign Start Date</th>
            <th th:text="*{endDate}">Campaign End Date</th>
            <th th:text="*{videoLength}">Video Length in Seconds</th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div>
    <footer></footer>
  </div>
</div>
</body>
</html>
