<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-white m-3">Support Requests</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div th:each="requestSup : ${allSupRequests}" th:object="${requestSup}"
             class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2>Sup Request:
                <span th:text="*{city}">City Name</span>
            </h2>
            <div>Campaigns:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Category</th>
                        <th>City Name</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Email</th>
                        <th>Phone Number</th>

                    </tr>
                    <tr th:each="name : ${requestSup.city}" th:object="${city}">
                        <th th:text="*{id}">No</th>
                        <th th:text="*{category}">Category</th>
                        <th th:text="*{requestAdvSup.city}"> City Name</th>
                        <th th:text="*{startDate}">Start Date</th>
                        <th th:text="*{endDate}">End Date</th>
                        <th th:text="*{email}">Email</th>
                        <th th:text="*{phoneNumber}">Phone Number</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
