<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

    <table class="table">
        <tr th:fragment="tableHead" th:remove="tag">
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Video Length in Seconds</th>
            <th scope="col">City</th>
            <th scope="col">Location</th>
        </tr>
        <tr th:fragment="tableRow(item)" th:remove="tag">
            <td th:text="${item.id}">No</td>
            <td th:text="${item.name}">Name</td>
            <td th:text="${item.startDate}">Campaign Start Date</td>
            <td th:text="${item.endDate}">Campaign End Date</td>
            <td th:text="${item.videoSpotLength}">Video Length in Seconds</td>
            <td th:text="${item.city}">City</td>
            <td th:text="${item.location}">Location</td>

        </tr>
    </table>

    <div th:fragment="formRows" th:remove="tag">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="name" class="text-white font-weight-bold">Name</label>
                <input
                        id="name"
                        th:field="*{name}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Name"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="startDate" class="text-white font-weight-bold">Start Date</label>
                <input id="startDate"
                       name="startDate"
                       th:field="*{startDate}"
                       th:errorclass="is-invalid"
                       type="date" class="form-control"
                       placeholder="Start Date"/>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="endDate" class="text-white font-weight-bold">End Date</label>
                <input id="endDate"
                       name="endDate"
                       th:field="*{endDate}"
                       th:errorclass="is-invalid"
                       type="date" class="form-control"
                       placeholder="End Date"/>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="videoSpotLength" class="text-white font-weight-bold">Video Length in Seconds</label>
                <input id="videoSpotLength"
                       name="videoSpotLength"
                       th:field="*{videoSpotLength}"
                       th:errorclass="is-invalid"
                       type="number" min="0" class="form-control"
                       placeholder="Video Length in Seconds"/>
                <p th:if="${#fields.hasErrors('videoSpotLength')}" th:errors="*{videoSpotLength}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="city" class="text-white font-weight-bold">City</label>
                <select
                        id="city"
                        th:field="*{city}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Град">
                    <option th:each="cityOption : ${T(bg.softuni.ledking.repository.entity.CityEntityEnum).values()}"
                            th:value="${cityOption}"
                            th:text="${cityOption}"
                            th:selected="${cityOption} == *{city}"
                    >
                    </option>
                </select>
<!--                <input-->
<!--                        id="city"-->
<!--                        th:field="*{city}"-->
<!--                        th:errorclass="is-invalid"-->
<!--                        type="text"-->
<!--                        class="form-control"-->
<!--                        placeholder="City"/>-->
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="location" class="text-white font-weight-bold">Location</label>
                <input
                        id="location"
                        th:field="*{location}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Location"/>
<!--                <select  id="location"-->
<!--                         th:field="*{location}"-->
<!--                         th:errorclass="is-invalid"-->
<!--                         type="text"-->
<!--                         class="form-control"-->
<!--                         placeholder="Location"-->
<!--                >-->
<!--                    th:each="l : ${location}"-->
<!--                    th:href="@{/admin/displays/{id}(id = ${location.id})}"-->
<!--                    th:each="d : ${drinks}"-->

<!--                    th:href="@{/products/buy/{id}(id = ${d.id})}"-->


<!--                    <option th:each="locationOption : ${T(bg.softuni.ledking.repository.entity.OrderEntity.location)}"-->
<!--                            th:value="${locationOption}"-->
<!--                            th:text="${locationOption}"-->
<!--                            th:selected="${locationOption} == *{location}"-->
<!--                    >-->
<!--                    </option>-->
<!--                </select>-->

                <p th:if="${#fields.hasErrors('city')}" th:errors="*{location}" class="invalid-feedback errors alert alert-danger">
                    errors
                </p>
            </div>
        </div>
    </div>
</body>
</html>
